*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 
 .container{
     width: 100%;
     height: 100vh;
     background: #222;
     display: flex;
     align-items: center;
     justify-content: center;
 }
 
 .swiper{
     width: 80%;
     height: fit-content;
 }
 
 .swiper-slide img{
     width: 100%;
    
 }
 .styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left, rgba(0, 0, 0, .2), rgba(0, 0, 0, .2) 30%, rgba(0, 0, 0, 0))}